body {
    /*margin: 1em;*/
}

#task-list {
    margin-top: 1em;
    /*display: grid;*/
    /*grid-auto-columns: max-content;*/
    /*height: 100%;*/
}

.mdui-btn-icon {
    float:right;
    margin-right: 0.7em;
}

.mdui-list-item-one-line {
    /*修复换行溢出*/
    height: revert;
}

#notask {
    text-align: center;
    margin-top: 30vh;
    display: none;
}