body {
    margin: 1.75em;
}

#task-list {
    margin-top: 1em;
    /*display: grid;*/
    /*grid-auto-columns: max-content;*/
    /*height: 100%;*/
}

.mdui-btn-icon {
    float:right;
    margin-right: 0.7em;
}

.mdui-list-item-one-line {
    height: revert;
}

#notask {
    text-align: center;
    margin-top: 40%;
    display: none;
}