#task-list {
    margin-top: 1em;
    /*margin-bottom: 0.5em;*/
    margin-bottom: 5em;
    /*display: grid;*/
    /*grid-auto-columns: max-content;*/
    /*height: 100%;*/
}

.mdui-btn-icon {
    float: right;
    margin-right: 0.7em;
}

.mdui-list-item-one-line {
    /*修复换行溢出*/
    height: revert;
}

#notask {
    display: none;
    text-align: center;
    margin-top: 40vh;
}

#settings-dialog > .mdui-dialog-content {
    color: revert;
    padding: revert;
}
#settings-dialog > .mdui-dialog-content > .mdui-dialog-title {
    padding: 24px 24px 20px 24px;
}

#task-notify {
    padding-top: 0px;
}
#task-notify > span {
    float: left;
}
#task-notify > .mdui-textfield {
    padding-top: 0;
    /*padding-bottom: 5px;*/
}